/*
root {
  --outer-border-size: 5px;
  --outer-border-color: black;
  --main-axis-border-size: 3px;
  --main-axis-border-color: black;
  --minor-axis-border-size: 1px;
  --minor-axis-border-color: black;
}
*/

.square-1 {
  -fx-border-color: black;
  -fx-border-width: 5px 3px 3px 5px;
}

.square-2 {
  -fx-border-color: black;
  -fx-border-width: 5px 3px 3px 0;
}

.square-3 {
  -fx-border-color: black;
  -fx-border-width: 5px 5px 3px 0;
}

.square-4 {
  -fx-border-color: black;
  -fx-border-width: 0 3px 3px 5px;
}

.square-5 {
  -fx-border-color: black;
  -fx-border-width: 0 3px 3px 0;
}

.square-6 {
  -fx-border-color: black;
  -fx-border-width: 0 5px 3px 0;
}

.square-7 {
  -fx-border-color: black;
  -fx-border-width: 0 3px 5px 5px;
}

.square-8 {
  -fx-border-color: black;
  -fx-border-width: 0 3px 5px 0;
}

.square-9 {
  -fx-border-color: black;
  -fx-border-width: 0 5px 5px 0;
}

.inner-grid {
  -fx-border-color: #ccc;
  -fx-border-width: 0 1px 1px 0;
}

.selected-grid {
  -fx-border-color: #FFC627;
  -fx-border-width: 2px 2px 2px 2px;
}
